enabled: {{gateway.enabled}}
gateway:
  name: "{{gateway.name}}"
  namespace: "{{gateway.namespace}}"
  class_name: "{{gateway.class_name}}"
  listener_port: {{gateway.listener_port}}
  hosts:
{{gateway.hosts | to_yaml | indent(4, first=true)}}
  tls:
    secret_name: "{{gateway.tls.secret_name}}"
    issuer_name: "{{gateway.tls.issuer_name}}"

resources:
  enabled: {{resources.enabled | default(true)}}
autoscaling:
  enabled: {{autoscaling.enabled | default(true)}}
