external-secrets:
{% if operation is defined %}
{% if operation.nodeSelector is defined %}
  nodeSelector:
    group: "{{operation.nodeSelector}}"
  tolerations:
  - effect: NoSchedule
    key: group
    operator: Equal
    value: "{{operation.nodeSelector}}"
{% endif %}
{% endif %}

{% if operation is defined %}
{% if operation.nodeSelector is defined %}
  webhook:
    nodeSelector:
      group: "{{operation.nodeSelector}}"
    tolerations:
    - effect: NoSchedule
      key: group
      operator: Equal
      value: "{{operation.nodeSelector}}"
{% endif %}
{% endif %}

{% if operation is defined %}
{% if operation.nodeSelector is defined %}
  certController:
    nodeSelector:
      group: "{{operation.nodeSelector}}"
    tolerations:
    - effect: NoSchedule
      key: group
      operator: Equal
      value: "{{operation.nodeSelector}}"
{% endif %}
{% endif %}

raw:
  resources:
    - apiVersion: external-secrets.io/v1beta1
      kind: ClusterSecretStore
      metadata:
        name: parameter-store
      spec:
        provider:
          aws:
            region: "{{aws_region}}"
            service: ParameterStore

    - apiVersion: external-secrets.io/v1beta1
      kind: ClusterSecretStore
      metadata:
        name: secrets-manager
      spec:
        provider:
          aws:
            region: "{{aws_region}}"
            service: SecretsManager
