victoria-metrics:
  global:
    clusterLabel: cluster

{% if resources is defined and not resources.enabled %}
  victoria-metrics-operator:
    resources: null
    crds:
      cleanup:
        resources: null
      upgrade:
        resources: null
  syncJob:
    resources: null
  vmsingle:
    spec:
      resources: {}
      useDefaultResources: false
  vmalert:
    spec:
      resources: {}
      configReloaderResources: {}
      useDefaultResources: false
  alertmanager:
    spec:
      resources: {}
      configReloaderResources: {}
      useDefaultResources: false
{% endif %}
  vmagent:
    spec:
{% if resources is defined and not resources.enabled %}
      resources: {}
      configReloaderResources: {}
      useDefaultResources: false
{% endif %}
      externalLabels:
        cluster: "{{cluster}}"
