aws-node-termination-handler:
  awsRegion: "{{aws_region}}"

  podLabels:
    department: "addons"
    owner: "{{cluster}}"

  queueURL: "https://sqs.{{aws_region}}.amazonaws.com/{{aws_account_id}}/{{cluster}}-nth"

  replicas: "{{aws_node_termination_handler.replicas}}"

  managedTag: "aws-node-termination-handler/{{cluster}}"

  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: "arn:aws:iam::{{aws_account_id}}:role/irsa--{{group}}--aws-node-termination-handler"

  serviceMonitor:
    create: {{prometheus.serviceMonitor.enabled}}

{% if operation is defined %}
{% if operation.nodeSelector is defined %}
  nodeSelector:
    group: "{{operation.nodeSelector}}"
  tolerations:
  - effect: NoSchedule
    key: group
    operator: Equal
    value: "{{operation.nodeSelector}}"
{% endif %}
{% endif %}
