aws-node-termination-handler:
  awsRegion: "{{aws_region}}"

  queueURL: "https://sqs.{{aws_region}}.amazonaws.com/{{aws_account_id}}/{{cluster}}-nth"

{% if aws_node_termination_handler is defined %}
  replicas: "{{aws_node_termination_handler.replicas}}"
{% endif %}

  managedTag: "aws-node-termination-handler/{{cluster}}"

  serviceMonitor:
    create: {{prometheus.serviceMonitor.enabled}}

{% if operation is defined %}
{% if operation.nodeSelector is defined %}
  nodeSelector:
    group: "{{operation.nodeSelector}}"
  tolerations:
  - effect: NoSchedule
    key: group
    operator: Equal
    value: "{{operation.nodeSelector}}"
{% endif %}
{% endif %}
