atlantis:
  fullnameOverride: atlantis

{% if atlantis is defined %}
  atlantisUrl: "https://atlantis.{{hostname.public}}"

  orgAllowlist: "{{atlantis.allowlist}}"

  podTemplate:
    annotations:
      link.argocd.argoproj.io/external-link: "https://atlantis.{{hostname.public}}"

  extraManifests:
    - apiVersion: v1
      kind: ConfigMap
      metadata:
        name: atlantis-configmap
      data:
        ATLANTIS_GH_USER: "{{atlantis.github.user}}"
{% if atlantis.infracost.enabled %}
        INFRACOST_PRICING_API_ENDPOINT: "https://cloud-pricing-api.{{hostname.public}}"
{% endif %}

    - apiVersion: external-secrets.io/v1beta1
      kind: ExternalSecret
      metadata:
        name: atlantis-secret
      spec:
        refreshInterval: 1h
        secretStoreRef:
          kind: ClusterSecretStore
          name: parameter-store
        target:
          name: atlantis-secret
        data:
          - secretKey: GITHUB_TOKEN
            remoteRef:
              key: /k8s/common/github/{{atlantis.github.user}}/token
          - secretKey: ATLANTIS_GH_TOKEN
            remoteRef:
              key: /k8s/common/github/{{atlantis.github.user}}/token
          - secretKey: ATLANTIS_GH_WEBHOOK_SECRET
            remoteRef:
              key: /k8s/common/github/{{atlantis.github.user}}/secret
{% if atlantis.infracost.enabled %}
          - secretKey: INFRACOST_API_KEY
            remoteRef:
              key: /k8s/common/infracost/self-hosted-api-key
          - secretKey: SELF_HOSTED_INFRACOST_API_KEY
              remoteRef:
                key: /k8s/common/infracost/self-hosted-api-key
{% endif %}

    - apiVersion: networking.istio.io/v1beta1
      kind: Gateway
      metadata:
        name: atlantis
      spec:
        selector:
          istio: ingressgateway
        servers:
          - hosts:
              - "atlantis.{{hostname.public}}"
              - "atlantis-public.{{hostname.public}}"
            port:
              number: 80
              name: http
              protocol: HTTP

    - apiVersion: networking.istio.io/v1beta1
      kind: VirtualService
      metadata:
        name: atlantis
      spec:
        hosts:
          - "atlantis.{{hostname.public}}"
        gateways:
          - atlantis
          - mesh
        http:
          - route:
              - destination:
                  host: atlantis
                  port:
                    number: 80

    - apiVersion: networking.istio.io/v1beta1
      kind: VirtualService
      metadata:
        name: atlantis-public
      spec:
        hosts:
          - "atlantis-public.{{hostname.public}}"
        gateways:
          - atlantis
          - mesh
        http:
          - match:
              - uri:
                  prefix: "/events"
                method:
                  exact: "POST"
            route:
              - destination:
                  host: atlantis
                  port:
                    number: 80
          - match:
              - uri:
                  prefix: "/"
            fault:
              abort:
                httpStatus: 403

    - apiVersion: security.istio.io/v1beta1
      kind: AuthorizationPolicy
      metadata:
        name: atlantis
        namespace: istio-system
      spec:
        selector:
          matchLabels:
            istio: ingressgateway
        action: CUSTOM
        provider:
          name: oauth2-proxy
        rules:
        - to:
          - operation:
              hosts:
              - "atlantis.{{hostname.public}}"
{% endif %}
