atlantis:
  fullnameOverride: atlantis

{% if atlantis is defined %}
  atlantisUrl: "https://atlantis.{{hostname.public}}"

  orgAllowlist: "{{atlantis.allowlist}}"

  podTemplate:
    annotations:
      link.argocd.argoproj.io/external-link: "https://atlantis.{{hostname.public}}"

  extraManifests:
    - apiVersion: v1
      kind: ConfigMap
      metadata:
        name: atlantis-configmap
      data:
        ATLANTIS_GH_ORG: "{{atlantis.github.org}}"
        ATLANTIS_GH_USER: "{{atlantis.github.user}}"
        ATLANTIS_WRITE_GIT_CREDS: "true"
        ATLANTIS_ALLOW_FORK_PRS: "true"
{% if atlantis.infracost.enabled %}
        INFRACOST_PRICING_API_ENDPOINT: "https://cloud-pricing-api.{{hostname.public}}"
{% endif %}

    - apiVersion: external-secrets.io/v1
      kind: ExternalSecret
      metadata:
        name: atlantis-secret
      spec:
        refreshInterval: 1h
        secretStoreRef:
          kind: ClusterSecretStore
          name: parameter-store
        target:
          name: atlantis-secret
        data:
          - secretKey: ATLANTIS_GH_TOKEN
            remoteRef:
              key: /k8s/common/github/{{atlantis.github.user}}/token
          - secretKey: ATLANTIS_GH_WEBHOOK_SECRET
            remoteRef:
              key: /k8s/common/github/{{atlantis.github.user}}/secret
{% if atlantis.infracost.enabled %}
          - secretKey: INFRACOST_API_KEY
            remoteRef:
              key: /k8s/common/infracost/self-hosted-api-key
          - secretKey: SELF_HOSTED_INFRACOST_API_KEY
            remoteRef:
              key: /k8s/common/infracost/self-hosted-api-key
{% endif %}

    - apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      metadata:
        name: atlantis
      spec:
        parentRefs:
          - name: istio-ingressgateway
            namespace: istio-system
        hostnames:
          - "atlantis.{{hostname.public}}"
        rules:
          - backendRefs:
              - name: atlantis
                port: 80

    - apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      metadata:
        name: atlantis-public
      spec:
        parentRefs:
          - group: gateway.networking.k8s.io
            kind: Gateway
            name: istio-ingressgateway
            namespace: istio-system
        hostnames:
          - "atlantis-public.{{hostname.public}}"
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /events
            backendRefs:
              - group: ""
                kind: Service
                name: atlantis
                port: 80
                weight: 1

    - apiVersion: security.istio.io/v1beta1
      kind: AuthorizationPolicy
      metadata:
        name: atlantis
        namespace: istio-system
      spec:
        selector:
          matchLabels:
            istio: ingressgateway
        action: CUSTOM
        provider:
          name: oauth2-proxy
        rules:
        - to:
          - operation:
              hosts:
              - "atlantis.{{hostname.public}}"
{% endif %}
