ingress-nginx:
  fullnameOverride: ingress-nginx

{% if ingress_nginx is defined %}
  controller:
    replicaCount: "{{ingress_nginx.replicas}}"

    stats:
      enabled: {{prometheus.serviceMonitor.enabled}}

    metrics:
      enabled: {{prometheus.serviceMonitor.enabled}}
      serviceMonitor:
        enabled: {{prometheus.serviceMonitor.enabled}}
{% endif %}

tgb:
  resources:
    - apiVersion: elbv2.k8s.aws/v1beta1
      kind: TargetGroupBinding
      metadata:
        name: ingress-nginx-public
      spec:
        serviceRef:
          name: ingress-nginx-controller
          port: http
        targetGroupARN: "{{target_group.public_http}}"
        targetType: ip

    - apiVersion: elbv2.k8s.aws/v1beta1
      kind: TargetGroupBinding
      metadata:
        name: ingress-nginx-internal
      spec:
        serviceRef:
          name: ingress-nginx-controller
          port: http
        targetGroupARN: "{{target_group.internal_http}}"
        targetType: ip
